Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
config.guess
config.h.in
config.sub
config.log
config.cache
confdefs.h
config.status
depcomp
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
shout-config
*.pbproj
*.tar.gz
TAGS
*.o
*.lo
*.la
.libs
.deps
